@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space {    
    background-image: url(/assets/header-back.png);
    height: 133.6vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
.star {
    background-image: url(/assets/star.png);
    height: 18.7vh; 
    width: 23.8%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 72.4vh;
    left: 19%;
}
.wars {
    background-image: url(/assets/wars.png);
    height: 18.7vh;
    width: 26%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 72.4vh;
    left: 64.7%;
}
.kylo {
    background-image: url(/assets/Kylo-Ren-banner\ sem\ fundo.png);
    height: 163.5vh;
    width: 70.4%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10%;
}
.legion {
    background-image: url(/assets/Grupo\ 4.png);
    height: 28.3vh;
    width: 9.1%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 102.7vh;
    left: 79.1%;   
}
.comece {
    background-image: url(/assets/strom\ trupe\ red.png);
    height: 63.5vh;
    width: 20.6%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 14.4%;
    top: 124.6vh;
    display: flex;
}
.menucomece {
    height: 52vh;
    width: 80%;
    position: absolute;
    top: 7.5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menucomece a {
    color: #FFFFFF;
    text-decoration: none;
}
.menucomece h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 2.7vw;
}
.menucomece p {
    color:#FFFFFF;
    text-align: left;
    font-size: 1.4vw;
}
.menucomece button {
    color: #FFFFFF;
    font-size: 1.3vw;
    border: 0.1em solid #FFFFFF;
    background-color: transparent;
    padding: 0.5em 1.5em;
    border-radius: 0.2em;
    border-width: medium;
}
.sobremob {
    display: none;
    background-image: url(/assets/Grupo\ sobre\ o\ jogoM.png);
    width: 80.5%;
    height: 45.9%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 9.8%;
    top: 84.5%;
}
.reta2 {
    background-image: url(/assets/Retângulo\ 2.png);
    height: 230.4vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}
.robot {
    background-image: url(/assets/sta\ uo\ robot.png);
    height: 230.2vh;
    width: 42.3%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.sobre {
    background-image: url(/assets/Grupo\ sobre\ o\ jogo.png);
    height: 39.8vh;
    width: 49.4%;
    left: 43.2%;
    top: 44.6vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.linha2 {
    background-image: url(/assets/Linha\ 2.png);
    height: 0.5vh;
    width: 78.2%;
    position: absolute;
    top: 101.6vh;
    left: 14.4%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.lord {
    background-image: url(/assets/lord\ sifh\ 2.png);
    height: 134.8vh;
    width: 44%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 105.9vh;
    left: 14.4%;
}
.estrutura {
    height: 90.5vh;
    width: 26.9%;
    position: absolute;    
    top: 116.3vh;
    left: 44.2%;
    display: flex;
    flex-direction: column;
}
.estrutura h2 {
    font-size: 3.5vw;
    text-align: right;
    padding-top: 3vh;
}
.estrutura ul {
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.estrutura li {
    list-style: none;
    text-transform: uppercase;
    font-size: 3vh;
    padding-top: 8.5vh;     
}
.estrutura a:hover {
    background-color: #EE3737;
}
.estrutura a {
    text-decoration: none;
    color: #000000;
}
.rey {
    background-image: url(/assets/rey\ star\ wars.png);
    height: 121.6vh;
    width: 20.7%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 120.9vh;
    left: 71.9%;   
}
.reta3 {
    background-image: url(/assets/Retângulo\ 3.png);
    height: 375.2vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.atributos {
    height: 8vh;
    width: 14.4%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 28.5vh;
    left: 14.5%;
}
.atributos p {
    font-size: 2.5vw;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.1vw;
    
}
.atrib1 {
    background-image: url(/assets/atrib1.png);
    height: 80.3vh;
    width: 42.9%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 7.2%;
    top: 49.6vh;
}
.atrib2 {
    background-image: url(/assets/atrib2.png);
    height: 40.1vh;
    width: 21.3%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50.2%;
    top: 49.6vh;
}
.atribhover {
    background-image: url(/assets/Grupo\ novos\ graficos.png);
    height: 43vh;
    width: 22.3%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 48vh;
    left: 49.5%;
    display: none;
}
.atrib2 button {
    color: transparent;
    font-size: 2vw;
    border: none;
    background-color: transparent;
    text-align: center;
    margin-left: 0.4vw;
    padding: 0.7vh 0.5vw 1vh 0.29vw;
    margin-top: 29.8vh;  
}
.atrib2 a {
    color: transparent;
}
.atrib2:hover {
    background-image: url(/assets/Grupo\ novos\ graficos.png);
}
.atrib3 {
    background-image: url(/assets/atrib3.png);
    height: 40.1vh;
    width: 21.3%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 49.6vh;
    left: 71.3%;
}
.atrib4 {
    background-image: url(/assets/atrib4.png);
    height: 40.1vh;
    width: 21.3%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 89.7vh;
    left: 50.2%;
}
.atrib5 {
    background-image: url(/assets/atrib5.png);
    height: 40.1vh;
    width: 21.3%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 89.7vh;
    left: 71.3%;
}
.hierarquia {
    background-image: url(/assets/star-wars_stormtrooper_hierarquia.png);
    height: 158.4vh;
    width: 85.4%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 140vh;
    left: 7.2%;
}
.normas {
    height: 10.4vh;
    width: 42.2%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 302.4vh;
    left: 50.4%;
}
.normas p {
    font-size: 1.5vw;
    color: #FFFFFF;
    text-align: right;
}
.como {
    height: 8vh;
    width: 19.7%;
    position: absolute;
    left: 43.2%;
    top: 339.6vh;
}
.como p {
    font-size: 2.5vw;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.07vw;
}
.trooper {
    background-image: url(/assets/stortm_trooper_capa_preta-removebg-preview.png);
    height: 128.9vh;
    width: 27.9%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 7.2%;
    top: 308.6vh;
    z-index: 3;
}
.reta4 {
    background-image: url(/assets/Retângulo\ 4.png);
    height: 69.4vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    border: 1px solid green;
    z-index: 2;
    display: flex;
}
.opt1 {
    height: 42.7vh;
    width: 15.5%;
    position: absolute;
    top: 14.8vh;
    left: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.opt1 h4, .opt2 h4, .opt3 h4 {
    text-align: center;
    font-size: 5vw;
    padding-top: 1vh;
}
.opt1 button, .opt2 button, .opt3 button {
    color: #FFFFFF;
    font-size: 2.4vw;
    height: 13vh;
    background-color: #000000;
}
.opt1 a {
    text-decoration: none;
    color: #FFFFFF;
}
.opt2 a {
    text-decoration: none;
    color: #FFFFFF;
}
.opt3 a {
    text-decoration: none;
    color: #FFFFFF;
}
.opt1 button:hover {
    background-color: #EE3737;
}
.opt2 button:hover {
    background-color: #EE3737;
}
.opt3 button:hover {
    background-color: #EE3737;
}
.opt1 p, .opt2 p, .opt3 p {
    text-align: center;
    font-size: 2vw;
}
.opt2 {
    height: 42.7vh;
    width: 15.5%;
    position: absolute;
    top: 14.8vh;
    left: 57.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.opt3 {
    height: 42.7vh;
    width: 15.5%;
    position: absolute;
    top: 14.8vh;
    left: 79.1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line1 {
    height: 0.5vh;
    width: 8.2%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 58.6vh;
    left: 39.75%;
}
.line1 img {
    width: 100%;
}
.line1 a:hover {
    background-color: #EE3737;
}
.line2 {
    height: 0.5vh;
    width: 8.2%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 58.6vh;
    left: 61.3%;
}
.line2 img {
    width: 100%;
}
.line2 a:hover {
    background-color: #EE3737;
}
.line3 {
    height: 0.5vh;
    width: 8.2%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 58.6vh;
    left: 82.9%;
}
.line3 img {
    width: 100%;
}
.line3 a:hover {
    background-color: #EE3737;
}
.end {
    display: flex;
}
.end {
    background-image: url(/assets/Retângulo\ 2.png);
    height: 164.4vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.boxcoral {
    background-image: url(/assets/Retângulo\ 18.png);
    height: 141.1vh;
    width: 63.9%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 23vh;
}
.aplicativo {
    height: 8vh;
    width: 15.2%;
    position: absolute;
    top: 44vh;
    left: 14.5%;
}
.aplicativo h4 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    font-size: 3vw;
    border: 1px solid black;
}
.ultpara {
    height: 15.3vh;
    width: 27.9%;
    position: absolute;
    top: 59.5vh;
    left: 14.4%;
    border: 1px solid blue;
}
.ultpara p {
    color: #FFFFFF;
    text-align: left;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
}
.vader {
    background-image: url(/assets/darth_vader-sem\ fundo.png);
    height: 154.5vh;
    width: 39.3%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 53.3%;
    top: 2.5vh;
}
.google {
    height: 12.3vh;
    width: 13.5%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 80.6vh;
    left: 14.4%;
}
.google img {
    height: 12.3vh;
    width: 100%;
}
.apple {
    height: 12.3vh;
    width: 13.5%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 80.6vh;
    left: 28.8%;
}
.apple img {
    height: 12.3vh;
    width: 100%;
}
.redline {
    background-image: url(/assets/Linha\ 10.png);
    height: 0.5vh;
    width: 27.9%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 103.2vh;
    left: 14.4%;
}
.logo {
    background-image: url(/assets/esta\ uo.png);
    height: 20.1vh;
    width: 13.4%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 113.6vh;
    left: 14.5%;
}
.politicas {
    height: 18.5vh;
    width: 27.9%;
    position: absolute;
    top: 138.5vh;
    left: 14.5%;
}
.politicas p {
    color: #FFFFFF;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
}
.vadertext {
    height: 11.5vh;
    width: 19.4%;
    position: absolute;
    top: 145.6vh;
    left: 70.8%;
}
.vadertext p {
    color: #000000;
    font-size: 1.4vw;
    text-align: left;
    position: absolute;
}









@media only screen and (max-width: 600px) {
    .space {
      background-image: url(/assets/cabeçalho\ mobile.png);   
      height: 106.8vh;   
    }
    .star {
        display: none;
    }   
    .wars {
        display: none;
    }   
    .kylo {
        display: none;
    }   
    .legion {
        display: none;
    }   
    .comece {
        height: 48.5%;
        width: 59.2%;
        left: 30.4%; 
        top: 32.8%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
    }
    .menucomece {
        top: 1vh;
    }
    .menucomece h1 {
        font-size: 6vw;
    }
    .menucomece p {
        font-size: 3.5vw;
    }
    .menucomece button {
        font-size: 3vw;
    }
    .reta2 {
        height: 62.5vh;        
    }
    .robot {
        display: none;
    }   
    .sobremob {
        display: initial;
    }
    .robot {
        display: none;
    }
    .sobre {
        display: none;
    }
    .linha2 {
        width: 80.5%;
        height: 1vh;
        position: absolute;
        left: 9.6%;
        top: 35vh;
    }
    .lord {
        width: 46.1%;
        height: 26vh;
        left: 2.6%;
        top: 42vh;
    }
    .estrutura {
        height: 19.1vh;
        width: 38.9%;
        left: 30.6%;
        top: 40vh;
    }
    .estrutura h2 {
        font-size: 3vw;
        text-align: right;
        padding-top: 0;
    }
    .estrutura li {
        font-size: 1.5vh;
        padding-top: 1.2vh;     
    }
    .rey {
        height: 26vh;
        width: 24.2%;
        left: 69.3%;
        top: 42vh;
    }
    .reta3 {
        height: 220vh;
    }
    .atributos {
        top: 6.3vh;
        left: 40%;
    }
    .atributos p {
        font-size: 3.8vw;
    }
    .atrib1 {
        height: 27.6vh;
        width: 80.5%;
        left: 9.6%;
        top: 12.6vh;
    }
    .atrib2 {
        height: 27.6vh;
        width: 80.5%;
        left: 9.6%;
        top: 40.4vh;
    }
    .atrib2 button {
        font-size: 7vw;       
        margin-left: 3.1vw;
        padding: 0.7vh 1vw 1vh 0.29vw;
        margin-top: 19.8vh;  
    }
    .atrib3 {
        height: 27.6vh;
        width: 80.5%;
        left: 9.6%;
        top: 67.8vh;
    }
    .atrib4 {
        height: 27.6vh;
        width: 80.5%;
        left: 9.6%;
        top: 95.3vh;
    }
    .atrib5 {
        height: 27.6vh;
        width: 80.5%;
        left: 9.6%;
        top: 122.9vh;
    }
    .hierarquia {
        height: 33.8vh;
        width: 100%;
        left: 0;
        top: 154.8vh;
    }
    .normas {
        height: 5.1vh;
        width: 59.7%;
        top: 188.6vh;
        left: 30.4%;
    }
    .normas p {
        font-size: 3vw;
    }
    .como {
        height: 2.25vh;
        width: 30.4%;
        top: 206.3vh;
        left: 55.4%;
    }
    .como p {
        font-size: 3.8vw;
    }
    .trooper {
        height: 85.3vh;
        width: 100.8%;
        top: 205vh;
        left: -40.2%;
    }
    .reta4 {
        height: 72vh;
    }
    .opt1 {
        justify-content: center;
        height: 22vh;
        width: 38.9%;
        top: 0vh;
        left: 51.2%;
    }
    .opt2 {
        justify-content: center;
        height: 22vh;
        width: 38.9%;
        top: 22vh;
        left: 51.2%;
    }
    .opt3 {
        justify-content: center;
        height: 20vh;
        width: 38.9%;
        top: 44vh;
        left: 51.2%;        
    }
    .opt1 h4, .opt2 h4, .opt3 h4 {
        font-size: 8vw;
    }
    .opt1 button, .opt2 button, .opt3 button {
        height: 6vh;
    }
    .opt1 p, .opt2 p, .opt3 p {
        font-size: 3.5vw;
    }
    .line1 {
        width: 13%;
        left: 64.5%;
        top: 21.5vh;
    }
    .line2 {
        width: 13%;
        left: 64.5%;
        top: 43vh;
        
    }
    .line3 {
        width: 13%;
        left: 64.5%;
        top: 64vh;
    }
    .end {
        height: 146vh;
    }
    .boxcoral {
        top: 0;
        width: 100%;
        height: 102vh;
    }
    .aplicativo {
        height: 7.5vh;
        width: 78.1%;
        top: 1.8vh;
        left: 10.4%;
    }
    .aplicativo h4 {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        font-size: 11vw;
    }
    .ultpara {
        height: 12.4vh;
        width: 80.2%;
        top: 16vh;
        left: 9.6%;
    }
    .ultpara p {
        font-size: 2.8vw;
    }
    .google {
        height: 6.4vh;
        width: 38.9%;
        left: 9.6%;
        top: 31.9vh;
    }
    .google img {
        height: 6.3vh;
    }
    .apple {
        height: 6.4vh;
        width: 38.9%;
        left: 51.4%;
        top: 31.9vh;
    }
    .apple img {
        height: 6.3vh;
    }
    .redline {
        width: 80.5%;
        left: 9.6%;
        top: 41vh;
    }
    .logo {
        height: 12.2vh;
        width: 44.2%;
        top: 45.9vh;
        left: 27.7%;
    }
    .politicas {
        height: 11.8vh;
        width: 80.2%;
        left: 9.6%;
        top: 61.7vh;
    }
    .politicas p {
        font-size: 2.8vw;
    }
    .vader {
        height: 58vh;
        width: 80.5%;
        top: 76vh;
        left: 9.8%;
    }
    .vadertext {
        height: 5.5vh;
        width: 80.5%;
        top: 137vh;
        left: 9.8%;
    }
    .vadertext p {
        font-size: 2.7vw;
    }



}